@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
*{
  font-family: "Gilroy", sans-serif;
}


/* for text highlight  */
::selection{
  /* background-color: #a4dd8a; */
  color: #e09292;
}
